@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: #000;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.search {
  display: flex;
  width: 100%;
  position: relative;
}

.search-bar {
  width: 100%;
  display: flex;
  height: 55px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 1.2rem;
  background: rgb(255 0 0 / 53%);
  color: #fff;
  font-family: "poppins";
  transition: border-radius 100ms ease-in-out, background 100ms ease-in-out;
}

.search-bar:focus-within {
  border-radius: 30px;
  background: rgba(255, 0, 0, 0.863);
}

.search-bar::placeholder {
  color: rgb(194, 194, 194);
}

.fa-search {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  color: #fff;
}

.main-content {
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}

.filter {
  width: 25%;
  height: 100%;
  border: 5px solid rgba(255, 0, 0, 0.863);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.result {
  padding: 20px 20px;
  background-color: rgba(255, 0, 0, 0.863);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.filter-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.lists p {
  cursor: pointer;
}

.lists span {
  padding: 3px 15px;
  background: rgba(168, 2, 2, 0.808);
  border-radius: 10px;
}

.lists:hover {
  background: rgba(168, 2, 2, 0.246);
}

.bg-selected,
.bg-selected:hover {
  background: rgba(168, 2, 2, 0.808);
}

.content {
  width: 72%;
  display: flex;
  flex-direction: column;
}

.content-row {
  display: flex;
  margin-bottom: 20px;
}

.content-row-img {
  width: 21.5%;
  border-radius: 20px;
  display: flex;
}

.content-row-img img {
  width: 100%;
}

.content-row-text {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}

.nothing1 {
  width: 40%;
  height: 20px;
  margin: 20px 0 0;
}

.nothing2 {
  margin: 20px 0;
  width: 100%;
  height: 20px;
}

.nothing3 {
  position: absolute;
  width: 50px;
  height: 20px;
  bottom: 0;
  right: 20px;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(218, 218, 218);
}

.overview {
  font-size: 1.05rem;
  font-weight: 500;
  color: rgb(218, 218, 218);
  line-height: 23px;
}

.vote {
  padding: 1px 20px;
  background: #fff;
  border-radius: 7px;
  font-size: 1rem;
  color: #000;
}

.content-row-img img{
  border-radius: 30px;
}

.content-row:hover {
  background: rgba(255, 0, 0, 0.863);
  box-shadow: inset 0 0 0 #000;
  border-radius: 32px;
}

.pagenation {
  display: flex;
  position: absolute;
  right: 10%;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.page {
  color: #000;
  margin: 0 5px;
  padding: 5px 15px;
  border: 3px solid rgba(255, 0, 0, 0.863);
  border-radius: 6px;
  background: #fff;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: inset 0 0 5px 0px #000;
  cursor: pointer;
}

.skeletonStyle {
  animation: skeletonStyle 4s linear infinite alternate;
}

@keyframes skeletonStyle {
  from {
    background: rgb(170, 170, 170);
  }
  to {
    background: rgb(61, 61, 61);
  }
}
