@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --banner: linear-gradient(90deg, rgba(168, 2, 2, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%) 50% 10%;
  --collection-image: '';
}

body {
  font-family: "Poppins";
  background: #000;
}

a {
  text-decoration: none;
}

.movie-banner {
  display: flex;
  height: 480px;
  background: var(--banner);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.banner {
  display: flex;
  height: 100%;
  align-items: center;
}

.img-poster {
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.img-poster img {
  border-radius: 15px;
  box-shadow: 0 0 20px 10px #000;
  transition: box-shadow 300ms ease-in-out;
}

.img-poster img:hover {
  box-shadow: 0 0 20px 10px rgba(168, 2, 2, 1);
}

.movie-name {
  color: #fff;
  font-size: 3.2rem;
  line-height: 75px;
  font-weight: 700;
  text-shadow: 0 0 20px black;
}

.movie-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-self: normal;
}

.detail {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.tagline {
  font-size: 1.3rem;
  font-style: italic;
  color: #bdbdbd;;
}

.movie-stuff h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 30px 0 10px;
}

.movie-stuff p {
  font-size: 1rem;
  color: #fff;
  line-height: 23px;
  color: #fff;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.vote {
  padding: 1px 11px;
  background: #fff;
  color: #000;
  border-radius: 7px;
}

.vote:hover {
  color: rgba(168, 2, 2, 1);
}

.media {
  background: #000;
  padding: 50px 0;
}

.media-content {
  display: flex;
  justify-content: space-between;
}

.main{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.serires-cast {
  width: 100%;
}

.serires-cast h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.owl {
  width: 100%;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cast-card {
  height: 247.17px !important;
}

.cast-card, .recommend-card {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 203.17px;
}

.cast-card img {
  width: 100%;
  height: 152px;
  border-top-left-radius: 20px;
  object-fit: contain;
  background: rgb(116, 116, 116);
}

.cast-card-content {
  color: #000;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20px;
}

.cast-card-content h5 {
  font-size: 0.75rem;
  position: absolute;
  bottom: 5px;
}

.last {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 93px 0;
}

.side {
  width: 27%;;
}

.facts h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.facts-content {
  padding: 14px;
}

.facts-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-weight: 600;
}

.facts-content h2 span {
  font-size: 1rem;
  font-weight: 400;
  color: #bdbdbd;
}

.network {
  display: flex;
}

.network-parent {
  display: flex;
  flex-direction: column;
}

.network img {
  background: #fff;
}

.social h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.social-content {
  display: flex;
  padding: 14px;
  width: 100%;
  justify-content: space-around;
}

.social-content a {
  color: #fff;
  font-size: 1.6rem;
  transition: all 150ms ease-in-out;
}

.social-content a:hover {
  transform: scale(1.7);
}

.fa-home {
  color: #EA2027;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 20px;
}

.fa-twitter-square {
  color: #1DA1F2;
}

.keywords {
  margin-top: 20px;
}

.keywords h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.keywords-content {
  padding: 14px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.keywords-content a {
  color: #000;
  padding: 4px 10px;
  background: #ababab;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 4px solid #484848;
}

.current-season {
  margin-top: 60px;
}

.current-season h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.current-season-content {
  display: flex;
  border: 3px solid #5f5f5f;
  border-radius: 20px;
}

.current-season-content img {
  height: 100%;
  border-top-left-radius: 18px;
}

.current-season-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.current-season-text h4 {
  display: flex;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
  align-items: center;
}

.current-season-text h4 span{
  color: #fff;
  font-weight: 400;
  margin-left: 30px;
  font-size: 1.2rem;
}

.current-season-text p {
  color: #fff;
  line-height: 20px;
}

.current-season-text p br {
  display: none;
}

.recommendations {
  margin-top: 60px;
}

.recommendations h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.recommend-card {
  width: 78%;
}

.size {
  width: 91%;
}

.recommend-card img {
  border-top-right-radius: 55px;
  border-top-left-radius: 20px;
}

.recommend-card-content {
  display: flex;
  color: #000;
  width: 100%;
  padding: 20px;
  height: 50px;
  background: #fff;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.recommend-card-content h5 {
  font-size: 1.1rem;
  font-weight: 700;
}

.vote-main {
  color: rgb(117, 0, 0);
  font-weight: 600;
}

.media-S {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.media-menu {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.media-menu h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 50px;
}

.media-panel {
  display: flex;
  position: relative;
}

.test {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 18%;
  height: 2px;
  background: rgba(168, 2, 2, 1);
  border-radius: 5px;
  transition: left 400ms ease-in-out, width 200ms ease-in-out;
}

.backdrops:hover ~ .test{
  left: 25%;
  width: 22%;
}

.posters:hover ~ .test{
  left: 54%;
  width: 17%;
}

.videos:hover ~ .test{
  left: 78%;
  width: 16%;
}

.media-panel h3 {
  color: #fff;
  margin-right: 30px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}

.iframes {
  width: 100%;
  height: 239.52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iframe-videos {
  height: 330px;
}

.bg {
  animation: skeletonStyle 4s linear infinite alternate;
  transition: box-shadow 300ms ease-in-out;
}

.bg:hover {
  box-shadow: 0 0 20px 10px rgb(168 2 2);
}

.bg img {
  box-shadow: none;
  width: 100%;
}

.bg img:hover {
  box-shadow: none;
}

@keyframes skeletonStyle {
  from {
    background: rgb(170, 170, 170);
  }
  to {
    background: rgb(61, 61, 61);
  }
}

.recommendImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: skeletonStyle 4s linear infinite alternate;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 55px;
  border-top-left-radius: 20px;
  width: 98%;
}

.recommendImg img {
  object-fit: contain;
  width: 55% !important;
}

@media screen and (max-width: 920px) {

  .movie-name {
    font-size: 2.2rem;
    line-height: 50px;
  }
  .movie-stuff p {
    font-size: 0.95rem;
  }
  .detail {
    line-height: 22px;
  }
  .media-menu h2 {
    margin-right: 20px;
    font-size: 1.3rem;
  }
  .media-panel h3 {
    margin-right: 15px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  .movie-name {
    font-size: 1.7rem;
    line-height: 35px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .movie-banner {
    height: 100%;
  }
  .img-poster {
    padding: 20px;
    justify-content: center;
  }
  .img-poster img {
    width: 90%;
  }
  .movie-content {
    align-items: center;
  }
  .detail {
    align-items: center;
  }
  .movie-stuff {
    align-items: center;
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .movie-name {
    line-height: 43px;
  }
  .media-content {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .side {
    width: 100%;
    margin-top: 30px;
  }
}