@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --banner: linear-gradient(90deg, rgba(168, 2, 2, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%) 50% 10%;
  --collection-image: '';
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

.person-header {
  background: linear-gradient(90deg, rgba(168, 2, 2, 1) 0%, rgba(0, 0, 0, 1) 100%) 50% 10%;
  padding: 30px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.person-content {
  display: flex;
}

.person-content img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.person-content-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.person-content-text h2 {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.top {
  position: relative;
}

.bg::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 0%;
  width: 100%;
  height: 40px;
  background: linear-gradient(90deg,transparent 35%, rgba(0,0,0) 90%);
  z-index: 5;
}

.top h4{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 50px;
}

.top p {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 25px;
  white-space: break-spaces;
  text-align: justify;
  position: relative;
  height: 294px;
  overflow: hidden;
  z-index: 3;
}

.top a {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 8;
  color: #fff;
  font-weight: 600;
  transition: text-shadow 300ms ease-in-out;
}

.top a:hover {
  text-shadow: 0 0 15px #fff;
}

.main {
  height: 100%;
  padding: 50px 0;
  background: #000;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.known-for h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.card {
  width: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
  border-radius: 10px;
}

.card span {
  display: flex;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 62px;
  padding-top: 9px;
  font-size: 0.9rem;
  font-weight: 600;
  align-items: start;
  line-height: 17px;
  justify-content: center;
}

.acting h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.acting-row {
  color: #fff;
  display: flex;
  margin-bottom: 20px;
  background: rgb(64 64 64 / 38%);
  padding: 20px 0;
  border-radius: 10px;
  transition: background 200ms ease-in;
}

.acting-row:hover {
  background: rgb(105 105 105 / 50%);
}

as {
  color: rgb(255 255 255 / 47%);
}

.year {
  padding: 0 30px;
}

.acting-row-movie {
  color: #fff !important;
}

.acting-row-character {
  color: #fff !important;
}

.border {
  border-top: 5px solid #fff;
}