@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --banner: linear-gradient(90deg, rgba(168, 2, 2, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%) 50% 10%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

.movie-banner {
  display: flex;
  height: 480px;
  background: var(--banner);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.banner {
  display: flex;
  height: 100%;
}

.img-poster {
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.img-poster img {
  border-radius: 15px;
  box-shadow: 0 0 20px 10px #000;
  transition: box-shadow 300ms ease-in-out;
}

.img-poster img:hover {
  box-shadow: 0 0 20px 10px rgba(168, 2, 2, 1);
}

.movie-name {
  color: #fff;
  font-size: 3.2rem;
  line-height: 75px;
  font-weight: 700;
  text-shadow: 0 0 20px black;
}

.movie-content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.tagline {
  font-size: 1.3rem;
  font-style: italic;
  color: #bdbdbd;;
}

.movie-stuff h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  margin: 30px 0 10px;
}

.movie-stuff p {
  font-size: 1rem;
  color: #fff;
  line-height: 23px;
}

.vote {
  padding: 1px 11px;
  background: #fff;
  color: #000;
  border-radius: 7px;
}

.vote:hover {
  color: rgba(168, 2, 2, 1);
}

.media {
  background: #000;
  padding: 50px 0;
}

.top-cast {
  width: 70%;
}

.top-cast h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

.owl {
  width: 100%;
}

.owl-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cast-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 100%;
}

.cast-card img {
  width: 100%;
  border-top-left-radius: 20px;
}

.cast-card-content {
  color: #000;
  padding: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 20px;
}

.last {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 93px 0;
}

.main {
  display: flex;
  justify-content: space-between;
}

.side {
  width: 27%;;
}

.facts h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.facts-content {
  padding: 14px;
}

.facts-content h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-weight: 600;
}

.facts-content h2 span {
  font-size: 1rem;
  font-weight: 400;
  color: #bdbdbd;
}

.social h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.social-content {
  display: flex;
  padding: 14px;
  width: 100%;
  justify-content: space-around;
}

.social-content a {
  color: #fff;
  font-size: 1.6rem;
  transition: all 150ms ease-in-out;
}

.social-content a:hover {
  transform: scale(1.7);
}

.fa-home {
  color: #EA2027;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  border-radius: 20px;
}

.fa-twitter-square {
  color: #1DA1F2;
}

.keywords {
  margin-top: 20px;
}

.keywords h2 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 600;
}

.keywords-content {
  padding: 14px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.keywords-content a {
  color: #000;
  padding: 4px 10px;
  background: #ababab;
  border-radius: 10px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  border: 4px solid #484848;
}
