@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --banner: #f7f7f7;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins";
}

.overview-title, .overview, .certification, #movie-title, .header-crew h6, .fact, .facts h6, .cast-title {
  color: #D6D6D6;
}

.tagline, .header-crew p, .facts span {
  color: #8C8C8C;
}

.bg {
  background: linear-gradient(90deg, rgb(68 68 76) 16%, rgb(11 9 9 / 81%) 100%);
}


#movie-title span {
  vertical-align: middle;
}

.certification {
  border-color: #D6D6D6;
  font-size: .9rem;
  font-weight: 700;
}


.fact span {
  position: relative;
}

.fact span i {
  font-size: 0.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
  background: #44444C;
}

.social-icon a {
  font-size: 1.5rem;
  margin-right: 1.45rem;
  color: #D6D6D6;
}

.social-icon a:last-child {
  margin-right: 0rem;
}

.facts div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.facts span {
  color: rgba(173, 173, 173, 0.95);
}

.keyword a {
  font-size: 0.83rem;
}

.cast::-webkit-scrollbar {
  overflow: hidden;
}

.cast {
  height:auto;
  width: auto;
  overflow-x: scroll;
  display: flex;
  scroll-behavior: smooth;
}

.cast-card {
  background: #fff;
}

.cast img {
  width: 180px;
}

.cast-body {
  padding: 0.8rem;
  width: 100%;
  padding-bottom: 0rem;
}

.cast-body h5 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.cast-body p {
  font-size: 0.9rem;
}

.parrent-cast-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #44444C;
  height: 100%;
  width: 3%;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -13px 0px 20px 20px #44444c;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.parent-prev-btn {
  box-shadow: 13px 0px 20px 20px #44444c;
  left: 0;
}

.cast:hover .parrent-cast-btn {
  opacity: 0.7;
}


#next-cast {
  font-size: 1.3rem;
  margin-right: 1.2rem;
}

#prev-cast {
  font-size: 1.3rem;
  margin-left: 1.2rem;
}
